@import '../../style/base.scss';

.wrapper {
  position: relative;
  height: 30vh;
  overflow: hidden;

  img {
    position: relative;
    z-index: 2;
    object-fit: cover;
  }
}

.text {
  @include h800;
  position: absolute;
  z-index: 3;
  top: calc(100% - 6rem);
  color: $dark-green;
  background-color: $light-green;
}
